<!--
  Generated template for the ConnectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>EpiIntra | Connection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="body">
	<!-- <ion-img width="280" height="150" src="assets/imgs/epi.png" ></ion-img> -->
	<br/>
	<h1>EPITECH</h1><br/><br/><br/>
	<!-- <p>Enter your autologin link:</p> -->
	<!-- <input type="text" name="auth"><br/><br/> -->
	<ion-item>
		<ion-label color="primary" floating>Enter your autolink</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<br/>
	<!-- <div *ngIf="!errorConnection; then good else notGood"></div> -->
	<!-- <button #good ion-button (click)="mySubmit($event)">submit</button> -->
	<button ion-button *ngIf="!errorConnection" (click)="mySubmit($event)" >submit</button>
	<button ion-button *ngIf="errorConnection" (click)="mySubmit($event)" color="danger">submit</button>
	<!-- <button ion-button (click)="test()">submit2</button> -->
	<!-- <ion-item *ngIf="myBool">{{ errorConnection | json }}</ion-item> -->
	<!--<div *ngIf="errorConnection">Error with your autologin link please chech in intra at this link "https://intra.epitech.eu/admin/autolog"
	 or in home page click in "ticket" then "generate aulogin link"</div> -->
</ion-content>

<!-- passport -->